<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
	<Appenders>

		<!-- aim is to put output instead into console, to file -->
		<RollingFile name="File" fileName="${basePath}/prints"
			filePattern="${basePath}/prints-%d{yyyy-MM-dd}.log"> <!-- pattern for giving names to files -->
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="500" /> <!-- when file reach 500kb size, it triggers and creates one more new file -->
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>

		<Root level="trace"> <!-- for the rest print all -->

			<AppenderRef ref="File" /> <!-- instead of Console edited to File -->
		</Root>
	</Loggers>
</Configuration>